/*
    sample4.css
    2 May 2018

    This sample tries to illustrate
    - Separation of content from presentation
    - More complicated CSS selector syntax
        than we've seen before (e.g. contrast
        ul versus ul.vertical-navbar)
*/

* {
    font-family: Arial;
    border-radius: 0;
}
body{
    margin: 3%;
}

follower-chart{
    width:75%;
}

#heading-button{
    margin-bottom:3%;
    margin-top:3%;
    height: auto;
    color: black;
    background-color: #f1f1f1;
    padding: 10px;

}

#starter-image{
    float:left;
    height: 130px;
}

#large-button{
    margin-right: 10px;
    width: 20%;
    height: auto;
    float:left;
    color: black;
    padding: 10px;
    background-color: #f1f1f1;
    /* figure out hover behavior*/
}

#logo-image{
    height: 35px;
}

#content-image{
    width: 90%;
}

/* Horizontal navigation */
ul.horizontal-navbar {
    font-size: 150%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    width: 90%
}

ul.horizontal-navbar li {
    float: left;
}

ul.horizontal-navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.horizontal-navbar li a:hover {
    background-color: #555;
    color: white;
}

h1.searchtitle {
    text-align: left;
}

#user-search-bar{
    width: 70%;

}
#user-query{
    position:relative;
    width:120%;
    height:30px;
}
input.tweet-checkbox{
    position:relative;
    left:3%;
}

label.tweet-checkbox{
    position:relative;
    left:4%;
}
.tweet-date-filters-start{
    position:relative;
    right:20%;

    float:right;
    clear:right

}
.tweet-date-filters-end{
    position:relative;
    right:20%;
    float:right;
    clear:right;
}
#tweet-filter-checkboxes{
    position:relative;
    left: 0%;
    width:70%;
    float:left;
}
#dates-div{
    position:relative;
    right:5%;
    width:30%;
    float:right;

}


ul.horizontal-filterbar {
    margin-top:0;
    font-size: 100%;
    list-style-type: none;
    overflow: hidden;
    background-color: #f1f1f1;
    position:absolute;
    top:60%;
    width:50%;
}
ul.horizontal-filterbar li{
    display:inline;
    line-height:0px;
    padding:5%;
}

ul.horizontal-filterbar button{
    position:relative;
    color:black;
    border:none;
    text-align:center;
    font-size: 120%;
    padding-right:7%;
    float:left;
}
ul.horizontal-filterbar button:hover{
    background-color: gray;
}



