<!DOCTYPE html>
<html>
<head>
    <title>Tweet API reference</title>
</head>
<body>
    <pre>Tweet API: endpoint reference
All responses are in JSON

REQUEST: /
RESPONSE:
    Main home page

REQUEST: /about
RESPONSE:
    An about page detailing our website

REQUEST: /index
RESPONSE:
    Main home page

REQUEST: /search
RESPONSE:
    A page where search quieries can be made

REQUEST: /im_feeling_lucky
RESPONSE:
    A page where random tweets can be viewed

REQUEST: /rankings
RESPONSE:
    A page where users can be ranked by some random sorting metric

REQUEST: /tweet
RESPONSE:
    Fake tweets for display

REQUEST: /follower_chart
GET parameters
    account_id = the account for which you wish to generate a follower chart
RESPONSE:
    generates a page containing a graph of all the tweets made and the followers when those tweets were made for the input user

REQUEST: /help
RESPONSE:
    This message

REQUEST: /api/random-tweet/
GET parameters
    None
RESPONSE: A randomly chosen tweet from our database. Will contain only the basic tweet information such as account, 
content, and followers of the user that posted. Designed to help the user first navigate the database.
   author_name (TEXT) - the account name for the user that posted the tweet. 
   followers (Integer)- the number of followers that the account had at time of posting.
   publish_date (DateTime)- the time at which the tweet was published
   tweet_content(text)- the actual content of the tweet
EXAMPLE(S):
    /api/random-tweet/ 
       [{"author_name": "BAUMAN_OFF", "followers": 3133, "date": "2016/8/16", "content": "9th person has died in historic Louisiana flood TV station reports  #news"}]

REQUEST: /api/search/input/
GET parameters
    search_query_json- A json string which contains the following perameters
        start_date = to be included in the response tweets must be published after this date
        end_date = to be included in the response tweets must be published before this date 
        sorting_metric = The metric by which the returned information is sorted.
        search_string = the character string which must be contained in the content of all returned tweets

RESPONSE:  A JSON string containing all tweets that contain the given character string, along with the username for the author, 
the number of followers that user had at the time, the publish date, the tweet content, and the number of accounts that the user followed at that times
   author_name (TEXT) - the account name for the user that posted the tweet. 
   followers (INTEGER)- the number of followers that the account had at time of posting.
   publish_date (DateTime)- the time at which the tweet was published
   tweet_content(TEXT)- the actual content of the tweet
   accounts_followed(INTEGER)- the number of accounts this twitter user followed at the time of tweeting
EXAMPLE(S):
    /api/search/input/RT%20coloradodon1:%20
    [{"content": "RT coloradodon1: #MAGA Agree no one in the streets of Charlotte are part of the #Trumptrain as the MSM &amp; Liberals \u2026 https:t.coFyKRrRFON3", "author_name": "BARRY_MILL", "followers": 1, "followed": 0, "date": "2017/8/14"}
    ,{"content": "RT coloradodon1: #MAGA Agree no one in the streets of Charlotte are part of the #Trumptrain as the MSM &amp; Liberals \u2026 https:t.coH876MHraO5", "author_name": "ALLFORPETERSONS", "followers": 2, "followed": 19, "date": "2017/8/14"}
    ,{"content": "RT coloradodon1: #MAGA Agree no one in the streets of Charlotte are part of the #Trumptrain as the MSM &amp; Liberals \u2026 https:t.coxfZ2N3lXUH", "author_name": "AMERICANALBERT", "followers": 2, "followed": 23, "date": "2017/8/14"}] 

REQUEST: /api/follower-chart/input/
GET parameters
    search_query- return only those tweets made by the user with name maching the search query
RESPONSE: Returns every tweet that a certain chosen username has made over their entire history, along with the number of 
followers that the user had when they made that tweet, and the date at which each tweet was published
   y (INTEGER)- the number of followers that the account had at time of posting.
   x (DateTime)- the time at which the tweet was published
EXAMPLE(S):
    /api/follower-chart/input/BALTIMORE0NLINE  
    [{"y": 59, "x": "2015/5/18"}, {"y": 59, "x": "2015/7/21"}, {"y": 59, "x": "2015/7/25"}, 
    {"y": 59, "x": "2015/7/30"}, {"y": 59, "x": "2015/7/31"}, {"y": 57, "x": "2015/7/4"}, 
    {"y": 59, "x": "2015/8/18"}, {"y": 58, "x": "2015/8/27"}, {"y": 58, "x": "2015/8/29"}, 
    {"y": 55, "x": "2015/9/14"}, {"y": 55, "x": "2015/9/6"}, {"y": 6417, "x": "2017/1/1"}]

REQUEST: /api/rankings/input/he number of followers that the account had at time of posting.
publish_date (DateTime)- the time at which the tweet was published
tweet_content(TEXT)- the actual content of the tweet
accounts_followed(INTEGER)- the number of accounts this twitter user followed at the time of tweeting
EXAMPLE(S):
 /api/search/input/RT%20coloradodon1:%20
 [{"content": "RT coloradodon1: #MAGA Agree no one in the streets of Charlotte are part of the #Trumptrain as the MSM &amp; Liberals \u2026 https:t.coFyKRrRFON3", "author_name": "BARRY_MILL", "followers": 1, "followed": 0, "date": "2017/8/14"}
 ,{"content": "RT coloradodon1: #MAGA Agree no one in the streets of Charlotte are part of the #Trumptrain as the MSM &amp; Liberals \u2026 https:t.coH876MHraO5", "author_name": "ALLFORPETERSONS", "followers": 2, "followed": 19, "date": "2017/8/14"}
 ,{"content": "RT coloradodon1: #MAGA Agree no one in the streets of Charlotte are part of the #Trumptrain as the MSM &amp; Liberals \u2026 https:t.coxfZ2N3lXUH", "author_name": "AMERICANALBERT", "followers": 2, "followed": 23, "date": "2017/8/14"}] 

REQUEST: /api/follower-chart/input/
GET parameters
 search_query- return only those tweets made by the user with name maching the search query
RESPONSE: Returns every tweet that a certain chosen username has made over their entire history, along with the number of 
followers that the user had when they made that tweet, and the date at which each tweet was published
y (INTEGER)- the number of followers that the account had at time of posting.
x (DateTime)- the time at which the tweet was published
EXAMPLE(S):
 /api/follower-chart/input/BALTIMORE0NLINE  
 [{"y": 59, "x": "2015/5/18"}, {"y": 59, "x": "2015/7/21"}, 
 {"y": 59, "x": "2015/7/25"}, {"y": 59, "x": "2015/7/30"}, 
 {"y": 59, "x": "2015/7/31"}, {"y": 57, "x": "2015/7/4"}, 
 {"y": 59, "x": "2015/8/18"}, {"y": 58, "x": "2015/8/27"}, 
 {"y": 58, "x": "2015/8/29"}, {"y": 55, "x": "2015/9/14"}, 
 {"y": 55, "x": "2015/9/6"}, {"y": 6417, "x": "2017/1/1"}]

GET parameters
    input_json- contains a JSON string which holds these parameters:
        start_date = to be included in the response tweets must be published after this date
        end_date = to be included in the response tweets must be published before this date
        sorting_metric= The metric by which the returned information is sorted. 
RESPONSE: All users that have made tweets that fall within the input constraints. That is the users that have made tweets between
the two input dates, that are either original, or retweets. This data is then sorted by the input sorting option 
    author_name (TEXT) - the account name for the user that posted the tweet. 
    sorting_data (INTEGER)- the maximum value over the given time frame of the sorting data that was requested. The ability to change the type 
    of data for sorting is yet to be implemented.
EXAMPLE(S):
    /rankings/input/%7B%22start_date%22:%222012-02-01%22,%22end_date%22:%222018-05-31%22,%22hide_original_tweets%22:false,%22hide_retweets%22:false%7D
    [{"author_name": "BABICHEVASONYA", "sorting_data": 1852}, {"author_name": "BARBARAMEER", "sorting_data": 1297}, 
    {"author_name": "AMELCREECH", "sorting_data": 1283}, {"author_name": "AMCONVOICE", "sorting_data": 1259}, 
    {"author_name": "BARBARAFORTRUMP", "sorting_data": 879}, {"author_name": "AAATEST1234", "sorting_data": 0}]
    </pre>
</body>
</html>

