<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter Bot Information</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='website-style-sheet.css') }}" />
    <script src="{{ url_for('static', filename='follower-chart-for-homepage.js') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
</head>
<body>
    <ul class="horizontal-navbar">
        <li><a href="{{ url_for('home')}}"> <img src="{{ url_for('static', filename='logo.png') }}" id="logo-image"  alt="Main Logo"></a></li>
        <li><a href="{{ url_for('search')}}">🔍 Search</a></li>
        <li><a href="{{ url_for('rankings')}}">Rankings</a></li>
        <li><a href="{{ url_for('im_feeling_lucky')}}">I'm Feeling Lucky</a></li>
        <li><a href="{{ url_for('about_page')}}">About</a></li>
    </ul>

    <h1>Get to Know 300,000 of Your Friendly Neighborhood Bots</h3>
    <a href="{{ url_for('im_feeling_lucky')}}">
        <div id="large-button">
            <h3>I'm Feeling Lucky</h3>
            <p>Read a Random Twitter Bot Tweet</p>
        </div>
    </a>
    <p class="right-column-text">This site provides tools to analyze twitter bot behavior using 538’s database of tweets from bots. </p>
    <p class="right-column-text">The data was gathered by the publication 538 in collaboration with Clemson University.</p>
    <p class="right-column-text">The data database contains information on the authors of tweets, tweets’ content, language, date published, follower count, number of accounts the bot was following, post type, and more.</p>
    
    <div class="chart-container">
        <canvas id="follower-chart"></canvas>
    </div>
</body>
</html>
