<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter Bot Information</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='website-style-sheet.css') }}" />
</head>

<body>

    <ul class="horizontal-navbar">
        <li><a href="{{ url_for('home')}}"> <img src="{{ url_for('static', filename='logo.png') }}" id="logo-image">
        </a></li>
        <!-- <li><a href="{{ url_for('word_cloud')}}">Word Cloud</a></li> -->
        <li><a href="{{ url_for('search')}}">🔍 Search</a></li>
        <li><a href="{{ url_for('rankings')}}">Rankings</a></li>
        <li><a href="{{ url_for('im_feeling_lucky')}}">I'm Feeling Lucky</a></li>
        <li><a href="{{ url_for('about_page')}}">About</a></li>
    </ul>

    <h1>Get to Know 300,000 of Your Friendly Neighborhood Bots</h3>

        <a href="{{ url_for('im_feeling_lucky')}}">
            <div id="large-button">
                <h3>I'm Feeling Luckey</h3>
                <p>Read a Random Twitter Bot Tweet</p>
            </div>
        </a>
        <p>This site give tools to analise twitter bot behavor using 538’s database of troll/bot tweets. 
            The data was gathered by the 538 team in collaboration with Clemson University. 
            The data database is made up of colums such as author, contents, language, data published, 
            followers at time collected, following # at time collected, updates, post type, tweet URL and more</p>
    <img src="{{ url_for('static', filename='word_cloud.jpg') }}" id="content-image">
</body>
</html>
