<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter Bot Rankings</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='website-style-sheet.css') }}" />
    <script src="{{ url_for('static', filename='rankings.js') }}"></script>

</head>

<body>

    <ul class="horizontal-navbar">
        <li><a href="{{ url_for('home')}}"> <img src="{{ url_for('static', filename='logo.png') }}" id="logo-image"  alt="Main Logo">
        </a></li>
        <li><a href="{{ url_for('search')}}">🔍 Search</a></li>
        <li><a href="{{ url_for('rankings')}}"><b>Rankings</b></a></li>
        <li><a href="{{ url_for('im_feeling_lucky')}}">I'm Feeling Lucky</a></li>
        <li><a href="{{ url_for('about_page')}}">About</a></li>
    </ul>
    <h1 class = "searchtitle">Bot Acount Rankings</h1>
    <div id = "dates-div">
        <label class = "tweet-date-filters-start" for = "tweet-filter-start"> Start Date:</label>
        <input type="date"class = "tweet-date-filters-start" id="tweet-filter-start" name="filter-start" value="2014-02-01"min="2014-02-01" max="2018-05-31">
        <label class = "tweet-date-filters-end" for = "tweet-filter-end"> End Date:</label>
        <input type="date"class = "tweet-date-filters-end" id="tweet-filter-end" name="filter-end" value="2019-05-31"min="2014-02-01" max="2019-01-01">
    </div>
    <ul id = "order-bar">
        <li><button type = "button" id="ascending-order-button" onclick = "display_ascending()">Ascending</button></li>
        <li><button type = "button" id = "descending-order-button" onclick="display_descending()">Descending</button></li>
    </ul>
    <ul id = "sort-bar">
        <li><button type = "button" id = "sort-by-followers-button" onclick = "display_followers()">Followers</button></li>
        <li><button type = "button" id = "sort-by-number-of-tweets-button" onclick = "display_number_of_tweets()">Number of Tweets</button></li>
        <li><button typej = "button" id = "sort-by-following-button" onclick = "display_following()">Accounts Followed</button></li>

    </ul>
    <button type = "button" id = "results-button" onclick ="search_data_base()">Update Results</button>
    <h2 id = "results-heading"> Results:</h2>
    <div id = "show-more-borders">

    <ul id = "results-list">
    </ul>
    <button  type= "button" id = "show-more-button", onclick = "iterate_results_forward()">Next Results</button></li>

    <button  type= "button" id = "show-more-button", onclick = "iterate_results_back()">Previous Results</button></li>
    </div>
</body>
</html>
